* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	overflow-x: hidden;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Raleway', sans-serif;
}

a {
	font-family: 'Raleway', sans-serif;
	text-decoration: none;
}

/* header */

header {
	color: white;
	text-align: center;
	height: 100vh;
	background-image: url("../img/hero-bg.jpg");
	background-position: center;
	background-size: cover;
	padding: 2em;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.hero-heading {
	margin-bottom: 1em;
}

.hero-intro-text {
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-style: italic;
	font-weight: 400;
	opacity: .8;
	font-size: 20px;
	letter-spacing: .5px;
}

.hero-title {
	font-weight: black;
	font-size: 64px;
	text-transform: uppercase;
	letter-spacing: 4px;
	margin-top: .3em;
	margin-bottom: .3em;
}

.hero-credo {
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 1.5px;
	opacity: .7;
	font-size: 12px;
}

.btn-get-started {
	display: block;
	text-decoration: none;
	color: white;
	background: black;
	border-radius: 25px;
	padding: 1em 2em;
	border: 0;
	text-transform: uppercase;
	font-weight: semi-bold;
	letter-spacing: 2px;
	font-size: 13px;
	margin-bottom: .75em;
	opacity: .8;
}

.fa-angle-down {
	font-size: 40px;
	font-weight: normal;
}

@media (max-width: 990px) {
	.fa-angle-down {
		display: none;
	}
	.hero-logo {
		display: none;
	}

	header {
		flex-direction: row;
		justify-content: center;
		align-items: center;
		position: relative;
	}

	.hero-title {
		font-size: 3em;
	}

	.btn-get-started {
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		margin-bottom: 20px;
		font-size: 11px;
		padding: 1.25em 2.5em;
	}
}

@media (max-width: 568px) {
	.hero-title {
		font-size: 2.5em;
	}

	.hero-intro-text {
		font-size: 16px;
	}

	.hero-credo {
		font-size: 10px;
	}
}

/* nav */

.nav,
.nav-logo,
.nav-links,
.nav-social-links {
	display: flex;
	justify-content: stretch;
	align-items: center;
}

.nav {
	height: 90px;
	min-height: 90px;
}

.nav-logo {
	padding: 1.5em;
}

.nav-links {
	padding: 0 2em;
}

.nav-item {
	list-style: none;
	margin-right: 1.5em;
}

.nav-item a {
	display: inline-block;
	text-decoration: none;
	color: black;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 13px;
}

.nav {
	border: 1px solid rgba(150, 150, 150, .2);
	margin-bottom: 3em;
}

.nav-social-links {
	height: 100%;
	margin-left: auto;
	padding: 0 2em;
}

.nav-links,
.nav-social-links {
	height: 100%;
	border-left: 1px solid rgba(150, 150, 150, .2);
}

.nav-social-links a {
	color: black;
	margin-right: .5em;
	border-radius: 50%;
	border: 2px solid black;
	width: 30px;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}
